.input-wrapper {
    width: 35%;
}

.input-login-wrapper{
  width:100%;
  margin:7px 0;
}

.input {
    border: 0;
    border: 1px solid rgba(148, 150, 152, 0.507);
    padding: 18px 8px;
    border-radius: 7px;
    width: 100%;
}

.input:focus {
    outline: 0;
    border-color: #90de9f;
}

.input::placeholder {
    color: #aaa;
}