.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0 10%;
}
  
.container.has-image::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    filter: blur(4px);
    background: url('../../assets/img/background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
}
  
.container.has-image::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: -1;
}