.header-main {
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
}

.header-main .nav {
    list-style: none;
}

.header-main .nav li {
    display: inline;
}

.header-main .nav li a {
    padding: 10px 20px;
    text-decoration: none;
}

.header-main .nav li:last-child a:hover {
    text-decoration: none;
    background: #fff;
    color: #000;
}