@import "./assets/fonts/lato.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::after, *::before {
    box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', Arial;
}

  